* {
    min-width: 0;
    min-height: 0;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

:root {
    height: 100%;
    background-color: oklch(0.2 0 0);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    user-select: none;
    -webkit-user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}
