@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

* {
    min-width: 0;
    min-height: 0;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

button {
    border: 0;
    outline: 0;
}

span {
    letter-spacing: -0.5px;
}

:root {
    height: 100%;
    background-color: oklch(0.2 0 0);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    user-select: none;
    -webkit-user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}
